<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<div class="panel panel-default">
    <div class="panel-heading"><h1>Eventos</h1></div>
      <div class="panel-body">

{% if events %}
    <ul>
    {% for item in events %}
        <li><a href="{% url 'base:detail_events' item.id %}">{{ item.title }}</a></li><br/>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay Eventos disponibles</p>
{% endif %}
<a href="{% url 'base:create_event' %}"><button>Nuevo</button></a>

<a href="{% url 'base:index' %}"><button>Volver</button></a>
</div>
</div>
</div>