<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<div class="panel panel-default">
    <div class="panel-heading">Confirmar Borrado</div>
      <div class="panel-body">
<form action="" method="post">{% csrf_token %}
    <p>¿Confirmar borrado de "{{ object.title }}"?</p>
    <input type="submit" value="Confirmar"/>
</form>
</div>
</div>
</div>
