<h1>Funciones</h1>

<a href="v1/todos">Todos</a><br>
<a href="v1/news">Noticias</a><br>
<a href="v1/events">Eventos</a>

<h1>Clases</h1>

<a href="v2/todos">Todos</a><br>
<a href="v2/news">Noticias</a><br>
<a href="v2/events">Eventos</a>
{% if messages %}
        {% for item in messages %}
        <h3{% if item.tags %} class="{{ item.tags }}"{% endif %}>
            {% if item.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ item }}
        </h3>
        {% endfor %}
{% endif %}