<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<div class="panel panel-default">
    <div class="panel-heading"><h1>Noticias</h1></div>
      <div class="panel-body">

{% if news %}
    <ul>
    {% for item in news %}
        <li><a href="{% url 'base:detail_news' item.id %}">{{ item.title }}</a>
            </li><br/>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay Noticias disponibles</p>
{% endif %}
<a href="{% url 'base:create_new' %}"><button>Nueva</button></a>

<a href="{% url 'base:index' %}"><button>Volver</button></a>
</div>
</div>
</div>