{% extends 'base/base.html' %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"><h1>Noticias (Clases)</h1></div>
      <div class="panel-body">

{% if object_list %}
    <ul>
        {% for item in object_list %}
            <li><a class="news" href="{% url 'base:NewsItemDetail' item.id %}">{{ item.title }}</a>
            </li>
            <br/>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay noticias disponibles</p>
{% endif %}
<a href="{% url 'base:NewsCreate' %}"><button>Nueva</button></a>

<a href="{% url 'base:index' %}"><button>Volver</button></a>
</div>
</div>
</div>
{% endblock %}
