<!DOCTYPE html>
<html>
<head>
	<title>Noticias Django</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<div class="jumbotron">
	<h1 style="color: #A1D490; text-align: center; text-shadow: 2px 2px green">Noticias Django</h1>
</div>
<div class="panel panel-primary">
	<div class="panel-body" style="text-align: center;">
		<p>¿Quieres crear una noticia? Pulsa <a href="{% url 'proyectoinicio:crearNoticia' %}">¡aquí!</a></p>
        <p>Si quieres probar en VBC, 
         Pulsa <a href="{% url 'proyectoinicio:crearVBC' %}">¡aquí!</a></p>
	</div>
</div>
{% if bloque_noticias %}
<div class="panel-group">
    {% for noticia in bloque_noticias %}
        <div class="panel panel-primary">
        	<div class="panel-heading">
        		<h3>{{ noticia.title }}
                </h3>
                {% if noticia.ha_pasado %}
                <h4 style="text-align: right; color: black">Esta noticia es antigua.</h4>
                {% endif %}
        	</div>
        	<div class="panel-footer" style="text-align: right;">
        		<a href="{% url 'proyectoinicio:ampliar' noticia.id %}" style="color: white"><button class="btn btn-primary">Ver mas</button></a>
                <a href="{% url 'proyectoinicio:ampliarVBC' noticia.id %}" style="color: white"><button class="btn btn-success">Ver mas (VBC)</button></a>
        	</div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No hay noticias disponibles</p>
{% endif %}
<a href="{% url 'proyectoinicio:index'%} " style="color: white;"><button class="btn btn-warning">Volver</button></a>
</div>
</body>
</html>