<!DOCTYPE html>
<html>
<head>
	<title>Editar evento</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<div class="jumbotron">
	<h1 style="color: #A1D490; text-align: center; text-shadow: 2px 2px green">Edición</h1>
</div>
{% if evento %}
  <form action="" method= "post" class="form-horizontal" role="form">
  {% csrf_token %} 

  {{ form.as_p }}
    <input type="submit" value="Actualizar" class="btn btn-success" />
    
  </form>
  <div style="text-align: right;"><a href="{% url 'proyectoinicio:index'%} " style="color: white;"><button class="btn btn-warning">Volver</button></a></div>
{% else %}
    <p>No se ha podido devolver el evento en cuestión. Contacte al administrador.</p>
     <div style="text-align: right;"><a href="{% url 'proyectoinicio:index'%} " style="color: white;"><button class="btn btn-warning">Volver</button></a></div>
{% endif %}
</div>
</body>
</html>
