<!DOCTYPE html>
<html>
<head>
	<title>Editar noticia</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<div class="jumbotron">
	<h1 style="color: #A1D490; text-align: center; text-shadow: 2px 2px green">Edición</h1>
</div>
{% if messages %}
	{% for message in messages %}
	<h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Importante: {% endif %}
		{{ message }}
	</h3>
	{% endfor %}
{% endif %}

  <form method= "post" class="form-horizontal" role="form">
  {% csrf_token %}
	{{form.as_p}}
	<input type="submit" class="btn btn-success"/>
  </form>
  <div style="text-align: right;"><a href="{% url 'proyectoinicio:index'%} " style="color: white;"><button class="btn btn-warning">Volver</button></a></div>

</div>
</body>
</html>
