<!DOCTYPE html>
<html>
<head>
	<title>Vista ampliada</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<div class="jumbotron">
	<h1 style="color: #A1D490; text-align: center; text-shadow: 2px 2px green">Ampliación</h1>
</div>
{% if noticia %}
         <div class="panel {% if noticia.ha_pasado %}
                            panel-warning
                            {% else %}
                            panel-primary
                        {% endif %}
                        ">
        	<div class="panel-heading">
        		<h3>{{ noticia.title }}</h3>
        	</div>
            <div class="panel-body">
                <p>{{ noticia.description }}</p>
                {% if noticia.ha_pasado %}
                <p style="text-align: right; text-decoration: underline;">Esta noticia no es reciente. Deberias borrarla.</p>
                {% endif %}
            </div>
        	<div class="panel-footer" style="text-align: right;">
                <p><b><u>Fecha de publicación:</u></b>{{ noticia.publish_date }}</p>
        		<a href="{% url 'proyectoinicio:noticias'%} " style="color: white"><button class="btn btn-primary">Volver</button></a>
        	</div>
        </div>
        <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="#">Operaciones</a></div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'proyectoinicio:editar' noticia.id%}">Editar</a></li>
                <li><a href="{% url 'proyectoinicio:editarVBC' noticia.id%}">Editar (VBC)</a></li>
                <li><a onclick="return confirm('¿está seguro?')" href="{% url 'proyectoinicio:borrar' noticia.id%}">Borrar</a></li>
                <li><a href="{% url 'proyectoinicio:borrarVBC' noticia.id%}">Borrar (VBC)</a></li>
            </ul>
        </div>
        </div>
	{% if noticia.comment_set.all.count == 0 %}
		<h4>Esta noticia no tiene comentarios aún</h4>  <a href="{% url 'proyectoinicio:comentar' noticia.id %} " style="color: white;"><button class="btn btn-success">Añadir comentario</button></a>
		{% else %}
		<h4>Comentarios</h4>  <a href="{% url 'proyectoinicio:comentar' noticia.id %} " style="color: white;"><button class="btn btn-success">Añadir comentario</button></a>
		<div class="panel-group">
		  {% for comentario in noticia.comment_set.all %}
		   <div class="panel panel-info col-md-3">
				<div class="panel-heading" style="text-align=left;">
						<b>{{ comentario.author }}</b>
				</div>
				<div class="panel-body" style="text-align=right;">
				    	<p> {{ comentario.text }}</p>
				</div>
				<div class="panel-footer">
					Inserta los votos aqui
				</div>
			</div>
		  {% endfor %}
		  </div>
	{% endif %}

{% else %}
    <p>Esa noticia no existe.</p>
{% endif %}
</div>
</body>
</html>
